{% extends 'profileBase.html.twig' %}
{% block title %}COMMENTAIRES{% endblock %}
{% block adminPageTitle %}COMMENTAIRES{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <section>
                <h2>
                    <span style="text-transform:uppercase">Mes messages</span>
                </h2>
                {% for comment in comments %}
                    <div class="message_box">
                        <div class="row">
                            <div class="col-12 comment_col">
                                MESSAGE posté le
                                {{  comment.createdAt | date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ comment.comment }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-success" href="{{ path('edit_message', {'id': comment.id}) }}" role="button">Modifier</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-danger" href="{{ path('user_delete_com', {'id': comment.id}) }}" role="button">Supprimer</a>
                            </div>
                            <hr align="center" size="8" width="100%"/>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info alert-dismissible fade show" style="text-align: center;">
                        Vous n'avez pas encore fait de commentaire. N'hésitez-pas <a href="{{ path('projects') }}"><i class="fas fa-project-diagram"></i></a> !
                    </div>
                {% endfor %}
            
            </section>
            <div class="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
{% endblock %}
