{% extends 'base.html.twig' %}
{% block title %}
    ÉDITER PROFILE
{% endblock %}
{% block body %}
    <div class="container-main-contain">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{ app.user.username }}</a>
        </nav>
        
        <div class="wrapper d-flex">
            <div class="sideMenu col-2">
                <div class="sidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{{ path('profile') }}" class="nav-link"> <span>Tableau de bord</span> <i class="fas fa-tachometer-alt"></i></a></li>
                        <li class="nav-item"><a href="{{ path('show_profile') }}" class="nav-link"> <span>Mon profile</span> <i class="fas fa-id-card"></i></a></li>
                        <li class="nav-item"><a href="{{ path('user_comments') }}" class="nav-link"><span>Mes messages <i class="far fa-comments"></i></span></a></li>
                        <li class="nav-item"><a href="{{ path('user_reported_com') }}" class="nav-link"><span>Notifications <i class="far fa-comments"></i></span></a></li>
                        <li class="nav-item"><a href="{{ path('security_disconnexion') }}" class="nav-link"><span>Se déconnecter <i class="fas fa-sign-out-alt"></i></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="content col-9">
                <main>
                    <div class="container">
                        <div class="row py-5 px-4">
                            <div class="col-xl-12 col-md-12 col-sm-12 mx-auto">

                                <!-- Profile widget -->
                                <div class="bg-white shadow rounded overflow-hidden">
                                    <div class="px-4 pt-0 pb-4 bg-dark">
                                        <div class="media align-items-end profile-header">
                                            <div class="profile mr-3"><img src="{{ asset('img/headphone.jpg') }}" alt="Casque de musique sur fond jaune" width="130" class="rounded mb-2 img-thumbnail"><p>Changer mon profile</p></div>
                                            <div class="media-body mb-5 text-white">
                                                <h4 class="mt-0 mb-0">{{ app.user.firstname }} {{ app.user.lastname }}</h4>
                                                <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i> {{ app.user.city }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Commentaires</small>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Abonnés</small>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <section>
                                        <div>
                                            {{ form_start(formEditUserForUser) }}
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">pseudo</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.username, { 'attr' : {'placeholder' : "Votre pseudo ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">nom</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.lastname, { 'attr' : {'placeholder' : "Votre nom ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">Prénom</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.firstname, { 'attr' : {'placeholder' : "Votre prénom ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">email</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.email, { 'attr' : {'placeholder' : "Votre email ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">adresse</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.address, { 'attr' : {'placeholder' : "Votre adresse ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">code postale</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.codeZip, { 'attr' : {'placeholder' : "Votre code postale ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">ville</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.city, { 'attr' : {'placeholder' : "Votre ville ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">pays</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.country, { 'attr' : {'placeholder' : "Votre pays ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">téléphone</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.mobilePhone, { 'attr' : {'placeholder' : "Votre numéro de mobile ici"}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">Sexe</span>
                                                </div>
                                                <div class="col">
                                                    {{ form_row(formEditUserForUser.gender, { 'attr' : {'placeholder' : " "}, 'label' : false}) }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success"><span style="text-transform:uppercase">éditer</span></button>
                                            {{ form_end(formEditUserForUser) }}
                                        </div>
                                    </section>
                                </div><!-- End profile widget -->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}