{% extends 'base.html.twig' %}
{% block title %}Show a Project{% endblock %}
{% block body %}
<div class="main_title_topContainer" style="text-align: center;min-height:500px;background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url('img/wall.jpg')">
    <h1 class="main_title">{{ project.name }}</h1>
</div>
<div class="container">
    <div class="container-fluid mainProjectCont-show_project">
        <div class="projectContainer-show_project">
            <img src="{{ project.imageUrl }}" alt="">
            <div class="metadata">Projet posté le {{ project.createdAt | date('d/m/Y') }}</div>
            <div class="description">{{ project.description }}</div> 
            <br>
            <section id="comments">
                <h2>{{ project.comments | length }} Commentaires</h2>
                {% for comment in project.comments %}
                    <div class="comment">
                        <div class="row">
                            <div class="col-3">
                                Posté par {{ comment.user.username }} le (<small> {{ comment.createdAt | date('d/m/Y à H:i') }} </small>)
                            </div>
                            <div class="col">
                                {{ comment.comment | raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if app.user %}
                {{ form_start(commentForm) }}
                
                {{ form_row(commentForm.comment, {'attr': {'placeholder' : "Votre commentaire ici ..."}, 'label' : "Commentaire"}) }}
                <button type="submit" class="btn btn-success">Commenter</button>
                {{ form_end(commentForm) }}
                {% else %}
                <div>
                    <p>Connectez vous ou créez un compte pour pouvoir laiser un commentaire</p>
                </div>
                {% endif %}

            </section>
        </div>
    </div>
</div>
{% endblock %}
