{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <h1>Inscription</h1>
    {{ form_start(formUserSubscribe) }}
    {{ form_row(formUserSubscribe.log) }}
    {{ form_row(formUserSubscribe.password) }}
    {{ form_row(formUserSubscribe.password) }} 
    <button type="submit" class="btn btn-success">S'inscrire</button>
    {{ form_end(formUserSubscribe) }}
{% endblock %}