{% extends 'base.html.twig' %}
{% block title %}Connection
{% endblock %}
{% block body %}
	<div class="main_title_topContainer">
		<h1 class="main_title">CONNEXION</h1>
	</div>
	<div class="container connexion_container">

		{% for message in app.flashes('connect') %}
			<div class="alert alert-info alert-dismissible fade show" style="text-align: center;">
				{{ message }}
				<i class="far fa-thumbs-up"></i>
			</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-info alert-dismissible fade show" style="text-align: center;background-color:red;">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(formConnexion) }}
		{{ form_row(formConnexion.username, {'label' : 'Pseudo','full_name': "_username", 'attr' : {'placeholder' : 'Votre pseudo ici...'}}) }}
		{{ form_row(formConnexion.password, {'label' : 'Mot de passe','full_name': "_password", 'attr' : {'placeholder' : 'Votre mot de passe ici...'}}) }}
		<button type="submit" class="btn btn-success" id="submitConnexion">Se connecter</button>
		{{ form_end(formConnexion) }}
	</div>
	<div class="alert alert-info alert-dismissible fade show" style="text-align: center;background-color:darkgray; border-color:darkgray;color:white;">
		Vous n'avez pas encore de compte ? N'hésitez-pas !
		<a href="{{ path('security_registration') }}">Inscrivez-vous</a>
		!
	</div>
{% endblock %}
