{% extends 'base.html.twig' %}
{% block title %}Connection{% endblock %}
{% block body %}
<div class="main_title_topContainer" style="text-align: center;min-height:500px;background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url('img/wall.jpg')">
  <h1 class="main_title">CONNEXION</h1>
</div>
  <div class="container connexion_container">
      {{ form_start(formConnexion) }}
      {{ form_row(formConnexion.username, {'label' : 'Pseudo','full_name': "_username", 'attr' : {'placeholder' : 'Votre pseudo ici...'}}) }}
      {{ form_row(formConnexion.password, {'label' : 'Mot de passe','full_name': "_password", 'attr' : {'placeholder' : 'Votre mot de passe ici...'}}) }}
      <button type="submit" class="btn btn-success">Se connecter</button>
      {{ form_end(formConnexion) }}
  </div> 
  <div class="alert alert-info alert-dismissible fade show" style="text-align: center;">
    Vous n'avez pas encore de compte ? N'hésitez-pas ! <a href="{{ path('projects') }}">Inscrivez-vous</a> !
  </div>
{% endblock %}