{% extends 'adminBase.html.twig' %}
{% block title %}TABLEAU DE BORD Commentaires{% endblock %}
{% block adminPageTitle %}COMMENTAIRES{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <section>
                <h2>
                    <span style="text-transform:uppercase">Tous les messages</span>
                </h2>
                {% for comment in comments %}
                <div class="message_box">
                    <div class="row">
                        <div class="col-4">
                            <span class="log_message">{{ comment.user.username }}</span>
                        </div>
                        <div class="col-4 comment_col">
                            {{  comment.createdAt | date('d/m/Y') }}
                        </div>
                        <div class="col-2">
                            <a class="btn btn-warning" href="{{ path('reportFromAdmin', {'id': comment.id}) }}" role="button">Signaler</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" href="{{ path('admin_delete_user_com', {'id': comment.id}) }}" role="button">Supprimer</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 comment_col">
                            COMMENTAIRE
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ comment.comment }}
                            <hr/>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </section>
            <div class="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
{% endblock %}
