{% extends 'base.html.twig' %}
{% block title %}
    PROFILE
{% endblock %}
{% block body %}
    <div class="container-main-contain">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler sideMenuToggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">{{ app.user.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('admin_add_project') }}">Ajouter Projet</a>
                            <a class="dropdown-item" href="#">Editer Projet</a>
                            {# <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"></a> #}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="wrapper d-flex">
            <div class="sideMenu col-2">
                <div class="sidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{{ path('admin') }}" class="nav-link"> <span>Tableau de bord </span> <i class="fas fa-tachometer-alt"></i></a></li>
                        <li class="nav-item"><a href="{{ path('admin_profile') }}" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="{{ path('admin_projects') }}" class="nav-link">Projets</a></li>
                        <li class="nav-item"><a href="{{ path('subscribers') }}" class="nav-link"><span>Abonnés </span> <i class="fas fa-id-card"></i></a></li>
                        <li class="nav-item"><a href="{{ path('admin_user_com') }}" class="nav-link"><span>Commentaires <i class="far fa-comments"></i></span></a></li>
                        <li class="nav-item"><a href="{{ path('reported_com') }}" class="nav-link">Notifications</a></li>
                        <li class="nav-item"><a href="{{ path('security_disconnexion') }}" class="nav-link"><span>Se déconnecter <i class="fas fa-sign-out-alt"></i></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="content col-9">
                <main>
                    <div class="container">
                        <div class="row py-5 px-4">
                            <div class="col-xl-12 col-md-12 col-sm-12 mx-auto">

                                <!-- Profile widget -->
                                <div class="bg-white shadow rounded overflow-hidden">
                                    <div class="px-4 pt-0 pb-4 bg-dark">
                                        <div class="media align-items-end profile-header">
                                            <div class="profile mr-3"><img src="{{ asset('img/headphone.jpg') }}" alt="Casque de musique sur fond jaune" width="130" class="rounded mb-2 img-thumbnail"><a href="{{ path('admin_edit_profile') }}" class="btn btn-dark btn-sm btn-block">Éditer mon profile</a></div>
                                            <div class="media-body mb-5 text-white">
                                                <h4 class="mt-0 mb-0">{{ app.user.firstname }} {{ app.user.lastname }}</h4>
                                                <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i> {{ app.user.city }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bg-light p-4 d-flex justify-content-end text-center">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Commentaires</small>
                                            </li>
                                            <li class="list-inline-item">
                                                <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Abonnés</small>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="py-4 px-4">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h5 class="mb-0">Mes derniers projets</h5><a href="{{ path('admin_projects') }}" class="btn btn-link text-muted">Tout découvrir</a>
                                        </div>
                                        <div class="row">
                                            {% for project in projects %}
                                                <div class="col-lg-6 mb-2 pr-lg-1"><img src="{{ project.imageUrl }}" alt="" class="img-fluid rounded shadow-sm"></div>
                                            {% endfor %}
                                        </div>
                                        <div class="py-4">
                                            <h5 class="mb-3">Dernier commentaire perso posté</h5>
                                            <div class="p-4 bg-light rounded shadow-sm">
                                                <p class="font-italic mb-0">Mettre le dernier commentaire ici</p>
                                                <ul class="list-inline small text-muted mt-3 mb-0">
                                                    <li class="list-inline-item"><i class="far fa-clock"></i> {{ app.user.createdAt | date('d/m/Y') }} </li>
                                                    <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>{{ app.user.username }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <section>
                                        <div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">pseudo</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.username }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">nom</span>
                                                </div>
                                                <div class="col">
                                                    {{ app.user.lastname }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">Prénom</span>
                                                </div>
                                                <div class="col">
                                                    {{ app.user.firstname }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">email</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.email }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">adresse</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.address }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">code postale</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.codeZip }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">ville</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.city }}
                                                    <hr />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <span style="text-transform:uppercase">téléphone</span>
                                                </div>
                                                <div class="col">
                                                    {{  app.user.mobilePhone }}
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div><!-- End profile widget -->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}