{% extends 'adminBase.html.twig' %}
{% block title %}NOTIFICATIONS{% endblock %}
{% block adminPageTitle %}NOTIFICATIONS{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <section>
                <h2>
                    <span style="text-transform:uppercase">Les messages signalés</span>
                </h2>
                {% for comment in comments %}
                <div class="message_box">
                    <div class="row">
                        <div class="col-4">
                            <span style="text-transform:uppercase">{{ comment.user.username }}</span>
                        </div>
                        <div class="col-4">
                            {{  comment.createdAt | date('d/m/Y') }}
                        </div>
                        <div class="col-2">
                            <a class="btn btn-warning" href="{{ path('reportFromAdmin', {'id': comment.id}) }}" role="button">Restaurer</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" href="{{ path('delete_reported_com', {'id': comment.id}) }}" role="button">Supprimer</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            COMMENTAIRE
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ comment.comment }}
                        </div>
                    </div>
                    <hr align="center" size="8" width="100%"/>
                </div>
                {% else %}
                <div class="alert alert-info alert-dismissible fade show" style="text-align: center;">
                    Aucun message n'a été signalé.
                </div>
                {% endfor %}
            </section>
            <div class="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>
{% endblock %}
