{% extends 'base.html.twig' %}
{% block title %}
<span style="text-transform:uppercase">abonnés</span>
{% endblock %}
{% block body %}
    <div class="container-main-contain">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler sideMenuToggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
        <a class="navbar-brand" href="#">{{ app.user.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('admin_add_project') }}">Ajouter Projet</a>
                <a class="dropdown-item" href="#">Editer Projet</a>
                {# <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"></a> #}
                </div>
            </li>
            </ul>
        </div>
        </nav>
        <div class="wrapper d-flex">
            <div class="sideMenu col-2">
                <div class="sidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{{ path('admin') }}" class="nav-link"> <span>Tableau de bord </span> <i class="fas fa-tachometer-alt"></i></a></li>
                        <li class="nav-item"><a href="{{ path('admin_profile') }}" class="nav-link">Profile</a></li>
                        <li class="nav-item"><a href="{{ path('admin_projects') }}" class="nav-link">Projets</a></li>
                        <li class="nav-item"><a href="{{ path('subscribers') }}" class="nav-link"><span>Abonnés </span> <i class="fas fa-id-card"></i></a></li>
                        <li class="nav-item"><a href="{{ path('admin_user_com') }}" class="nav-link"><span>Commentaires <i class="far fa-comments"></i></span></a></li>
                        <li class="nav-item"><a href="{{ path('reported_com') }}" class="nav-link">Notifications</a></li>
                        <li class="nav-item"><a href="{{ path('security_disconnexion') }}" class="nav-link"><span>Se déconnecter <i class="fas fa-sign-out-alt"></i></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="content col-9">
                <main>
                    <div class="container">
                        <section>
                            <h1>
                                <span style="text-transform:uppercase">abonnés</span>
                            </h1>
                            {% for user in users %}
                                <div class="row">
                                    <div class="col-5">
                                        <span style="text-transform:uppercase">{{ user.username }}</span>
                                    </div>
                                    <div class="col-5">
                                        {{  user.createdAt | date('d/m/Y') }}
                                    </div>
                                    <div class="col-2">
                                        <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                                        <hr />
                                    </div>
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}